<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyCustomDispatchTimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>189D7C601F8FBE20002871C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189D7C791F8FBE21002871C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189D7C841F8FBE21002871C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
